name: Build astro site

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    
    - name: Archive build output
      run: "tar --dereference --directory dist/ -cvf artifact.tar ."
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: github-pages
        path: artifact.tar

  deploy:
    if: ${{ always() }}
    environment: 
      name: github-pages
      url: "https://tcbyrd.dev/astro-portfolio-demo"
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1-beta
